@import url(../util.css);

header {
    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 840px;
        height: 70px;
    }

    .header__navbar {
        display: flex;
        gap: 20px;

        a {
            color: var(--white-color);
            font-size: 16px;
            font-weight: 700;
        }

        a:hover {
            color: var(--white-color-75op);
        }
    }
}

header:hover {
    -webkit-mask-image: radial-gradient(#000, rgba(0, 0, 0, 0));
        mask-image: radial-gradient(#000, rgba(0, 0, 0, 0));
}